package {{ package_name }}.internal;

public final class HandshakeException extends NautilusException {
    public HandshakeException(String message) {
        super(message);
    }

    public HandshakeException(String message, Throwable cause) {
        super(message, cause);
    }
}
