package {{ package_name }}.internal;

import com.fasterxml.jackson.databind.JsonNode;

public final class NotFoundException extends NautilusException {
    public NotFoundException(String message) {
        super(message);
    }

    public NotFoundException(String message, Integer code, JsonNode data) {
        super(message, code, data);
    }
}